# Compilados
main
transmision_bladerf
*.o
*.out
*.exe

# Directorio de objetos
obj/
# Directorio de binarios
bin/
# Directorio de capturas radar
radar_capture/

# Archivos temporales
*~
*.swp
*.bak
*.tmp

# VS Code: ignora todo 
.vscode/*

# Ignorar archivo de configuración generado automáticamente
src/config_override.h


